.herocontentwrap {
  background-color: var(--light-neutral-200);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.23), 0 9px 18px 0 rgba(0, 0, 0, 0.1),
    0 0 1px 0 #727272;
  border: 1px solid var(--light-neutral-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

:global(.dark) .herocontentwrap {
  background-color: var(--dark-neutral-850);
  box-shadow: 0 25px 50px 0 var(--light-neutral-550),
    0 9px 18px 0 var(--light-neutral-650), 0 0 1px 0 var(--light-neutral-600);
  border: 1px solid var(--light-neutral-500);
}

/* selection */
.contentselect {
  display: flex;
  width: calc(100% - 1px);
  justify-content: space-evenly;
  position: relative;
  margin-top: 12px;
  border-top: 1px solid var(--light-neutral-300);
  border-bottom: 1px solid var(--light-neutral-300);
}

.contentselect a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light-neutral-900);
  padding: 6px;
  /* border: 1px solid var(--light-warning-400); */
}

:global(.dark) .contentselect a {
  color: var(--dark-neutral-100);
}

/* content */
.contentwrap {
  /* border: 1px solid var(--light-warning-600); */
  overflow: inherit;
  overflow-y: scroll;
  position: relative;
  box-shadow: inset 0 3px 15px 0 var(--dark-neutral-750);
  margin: 1rem;
  margin-top: 1.2rem;
  border-radius: 12px;
  height: fit-content;
}

.contentslider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.contentslider::-webkit-scrollbar {
  display: none;
}

.contentitem {
  /* border: 1px solid var(--light-warning-600); */
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: baseline;
}
