.herowrap {
  display: flex;
  /* border: 2px solid var(--light-warning-400); */
  width: calc(100vw - 30%);
  height: calc(100vh - 30%);
}

:global(.dark) .herowrap {
  color: var(--dark-neutral-100);
}

/* SVG styles */

@keyframes svgColor {
  0% {
    stroke: var(--dark-primary-700);
    filter: drop-shadow(0px 0px 1px var(--dark-primary-600));
  }
  50% {
    stroke: var(--light-neutral-400);
    filter: drop-shadow(0px 0px 1px var(--light-neutral-400));
  }
  100% {
    stroke: var(--dark-primary-700);
    filter: drop-shadow(0px 0px 1px var(--dark-primary-600));
  }
}

.svgwrap {
  height: 90px;
  width: 90px;
}

.svgwrap svg line:nth-of-type(5) {
  display: none;
}
:global(.dark) .svgwrap svg line:nth-of-type(5) {
  display: block;
}

:global(.dark) .svgwrap svg ellipse:nth-of-type(4) {
  display: none;
}
.svgwrap ellipse,
line {
  stroke: var(--light-neutral-900);
}

:global(.dark) .svgwrap ellipse,
line {
  animation: svgColor 10s infinite;
  /* filter: drop-shadow(3px 2px 2px var(--dark-primary-500)); */
}

/* heading styles */
.headingwrap {
  background-color: var(--light-neutral-200);
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 6px var(--light-neutral-800);
}

:global(.dark) .headingwrap {
  background-color: var(--dark-neutral-850);
  box-shadow: 0px 0px 6px black;
}

.headingcontent {
  position: relative;
  margin: 3px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--light-neutral-250);
  border-radius: 6px;
  backdrop-filter: blur(4px) invert(20%);
  z-index: 100;
}

:global(.dark) .headingcontent {
  background-color: var(--dark-neutral-850);
  backdrop-filter: contrast(99%) invert(0%);
}

@media only screen and (max-width: 768px) {
  .headingcontent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.namebase {
  position: relative;
  cursor: default;
  letter-spacing: 2px;
  font-size: 30px;
  background-color: transparent;

  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
}

:global(.dark) .namebase {
  text-shadow: 0 0 5px, 0 0 10px var(--light-primary-500),
    0 0 15px var(--light-primary-500), 0 0 20px var(--light-primary-500);
}

.namebase.glitchyname {
  animation: glitch-effect 2s, glitch-effect 1s;
  animation-timing-function: steps(2, jump-none), ease;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes glitch-effect {
  0% {
    text-shadow: 5px 5px var(--light-neutral-300),
      -5px -5px var(--light-primary-400);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-four);
    transform: translate(0, 0);
  }
  14%,
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  50% {
    text-shadow: 0 0 5px, 0 0 10px var(--light-neutral-500),
      0 0 15px var(--light-neutral-500), 0 0 20px var(--light-neutral-600);
  }
  75% {
    transform: translateX(-5px), translateY(5px);
  }
  100% {
    text-shadow: -5px 5px var(--light-primary-400),
      -5px 5px var(--light-neutral-300);
  }
  110% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
}

/* heading glow */
.headingwrap {
  --border-size: 2px;
  --spotlight-size: 60px;
  --hue: 210;
  --saturation: 100%;
  --lightness: 50%;
  --bg-spot-opacity: 0.1;
  --border-spot-opacity: 1;
  --border-light-opacity: 1;
  --mouse-x: 0px;
  --mouse-y: 0px;

  position: relative;
}
.headingwrap:before,
.headingwrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.headingwrap::before {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--glow-hue), 100%, 50%) 0%,
    hsl(var(--glow-hue), 100%, 50%) 5%,
    transparent 20%
  );
  z-index: 1;
}
.headingwrap::after {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--glow-hue), 100%, 70%) 0%,
    hsl(var(--glow-hue), 100%, 70%) 2%,
    transparent 10%
  );
  z-index: 2;
}

.headingwrap.hovered::before,
.headingwrap.hovered::after {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
