.herowrap {
  display: flex;
  border: 2px solid var(--light-warning-400);
  width: calc(100vw - 30%);
  height: calc(100vh - 30%);
}

/* .herowrap div {
  border: 2px solid var(--light-warning-400);
} */
