.menuwrap {
  position: relative;
  display: flex;
  height: 3rem;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.leftwrap {
  width: 2.25rem;
  /* border: 2px solid var(--light-warning-400); */
}

.leftwrap button {
  position: relative;
  z-index: 500;
  width: 2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0;
  scale: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.buttonwrap {
  background-color: var(--light-neutral-450);
  border-radius: 0rem 5rem 5rem 0rem;
  transition: background-color 0.1s ease-in-out;
}
:global(.dark) .buttonwrap {
  background-color: var(--dark-neutral-650);
}
.buttonwrap:hover {
  background-color: var(--light-neutral-350);
}

:global(.dark) .buttonwrap:hover {
  background-color: var(--dark-neutral-750);
}

:global(.dark) .buttonwrap:hover svg rect {
  filter: drop-shadow(0px 0px 3px var(--light-primary-500));
}
/* rotation */
.leftwrap button svg:first-of-type {
  width: 75%;
}
.leftwrap button rect {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  fill: var(--light-primary-600);
}
[aria-pressed="true"] rect {
  transition: translate 0.2s, rotate 0.2s 0.3s;
}

rect {
  transition: rotate 0.2s 0s, translate 0.2s 0.2s;
}

[aria-pressed="true"] rect:nth-of-type(1) {
  translate: 0 333%;
  rotate: -45deg;
}

[aria-pressed="true"] rect:nth-of-type(2) {
  rotate: 45deg;
}

[aria-pressed="true"] rect:nth-of-type(3) {
  translate: 0 -333%;
  rotate: 45deg;
}

[aria-pressed="true"] svg {
  rotate: 90deg;
  transition: rotate 0.3s 0.4s;
}

@supports (--custom: linear()) {
  :root {
    --elastic-out: linear(0, 1);
  }
  [aria-pressed="true"] svg {
    transition-timing-function: var(--elastic-out);
  }
}

/* dropdown */
.dropdown_wrapper {
  visibility: hidden;
}

@media (hover: hover) {
  .dropdown_container:hover .dropdown_menu.dropdown_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
  }
}

.menu_item {
  padding: 8px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu_item:nth-child(1) {
  transition-delay: 0.2s;
}

.menu_item:nth-child(2) {
  transition-delay: 0.4s;
}

.dropdown_container:hover .menu_item {
  opacity: 1;
  transform: translateY(0);
}

.dropdown_container {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  color: var(--light-neutral-700);
  background-color: var(--light-neutral-350);
  border: 1px solid var(--light-neutral-300);
  box-shadow: 5px 5px 5px var(--light-neutral-700);
  backdrop-filter: blur(3px);
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0.3s;
}

:global(.dark) .dropdown_menu {
  color: var(--dark-neutral-300);
  background-color: var(--dark-neutral-750);
  border: 1px solid var(--light-neutral-300);
  box-shadow: 0px 0px 6px var(--light-neutral-500);
}

@media only screen and (max-width: 768px) {
  .dropdown_container .dropdown_menu.dropdown_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
  }

  .dropdown_container .menu_item {
    opacity: 1;
    transform: translateY(0);
  }
}

/* base styles */

ul {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

ul li {
  display: flex;
  align-items: center;
}

/* contact bar */
.contactwrap {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 2px solid var(--light-danger-400); */
  width: max-content;
}

.contactlist {
  position: sticky;
  /* border: 2px solid var(--light-warning-400); */
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3px;
}

.contactlist li {
  padding: 18px;
  background-color: var(--light-neutral-450);
  border-radius: 5rem 0rem 0rem 5rem;
  transform: translateX(9px);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.contactlist li:hover {
  transform: translateX(0);
}
:global(.dark) .contactlist li {
  background-color: var(--dark-neutral-650);
}

.contactlist a {
  height: 30px;
  width: 30px;
}

:global(.dark) .contactlist a {
  fill: var(--light-neutral-100);
}
.contactlist svg {
  transition: fill 0.1s ease-in-out;
}
.contactlist svg path {
  transition: filter 0.1s ease-in;
}

.contactlist li:hover {
  background-color: var(--light-neutral-550);
  box-shadow: inset 0 3px 15px 0 var(--dark-neutral-750);
}

:global(.dark) .contactlist li:hover {
  background-color: var(--dark-neutral-750);
}
.contactlist li:nth-child(1) svg:hover {
  fill: var(--dark-primary-600);
}
.contactlist li:nth-child(2) svg:hover {
  fill: var(--light-neutral-400);
}
.contactlist li:nth-child(3) svg:hover {
  fill: var(--light-danger-500);
}

.contactlist li:nth-child(1) svg:hover path {
  filter: drop-shadow(0px 0px 0.5px var(--dark-primary-500));
}
.contactlist li:nth-child(2) svg:hover path {
  filter: drop-shadow(0px 0px 0.5px var(--light-neutral-500));
}
.contactlist li:nth-child(3) svg:hover path {
  filter: drop-shadow(0px 0px 0.5px var(--light-danger-500));
}
