.base {
  width: 100%;
  background-color: var(--light-neutral-450);
  position: sticky;
  /* color: black; */
  border-radius: 5rem;
  backdrop-filter: blur(4px);
}

:global(.dark) .base {
  background-color: var(--dark-neutral-650);
}

ul {
  position: relative;
  padding: 10px 0;
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
  list-style-type: none;
  /* overflow-y: hidden; */
}

ul li {
  display: flex;
  align-items: center;
}

ul li:first-child {
  margin-right: auto;
  margin-left: 0.5rem;
}

ul li:not(:first-child) {
  flex: 1;
  display: flex;
  justify-content: center;
}

ul li:first-child .dropdown_container {
  margin-left: 1rem;
}

a {
  width: 70%;
  font-weight: 900;
  color: var(--light-primary-500);
  text-decoration: none;
  transition: transform 0.3s ease-in-out, text-shadow 0.3s ease, color 0.3s ease;
}

a:hover {
  text-shadow: 5px 5px 3px var(--light-primary-800);
  color: var(--light-primary-400);
  transform: translateY(-3px);
}

:global(.dark) a {
  color: var(--dark-primary-500);
}

:global(.dark) a:hover {
  text-shadow: 5px 5px 3px var(--dark-primary-400);
  color: var(--dark-primary-400);
  animation: textColor 10s infinite;
}

ul li button {
  position: relative;
  width: 2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0;
  scale: 1;
  background: transparent;
  border: 0;
  /* border-radius: 50%; */
  /* transition: background 0.2s; */
  cursor: pointer;
}

ul li button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

ul li button:hover::before {
  background: var(--light-neutral-650);
}

:global(.dark) ul li button:hover::before {
  background: var(--dark-neutral-950);
}

ul li button svg:first-of-type {
  width: 75%;
}

ul li button rect {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  fill: var(--light-primary-600);
}

ul li button:hover rect {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  fill: var(--light-primary-400);
}

:global(.dark) ul li button rect {
  fill: var(--dark-primary-600);
}

:global(.dark) ul li button:hover rect {
  fill: var(--dark-primary-400);
}

[aria-pressed="true"] rect {
  transition: translate 0.2s, rotate 0.2s 0.3s;
}
rect {
  transition: rotate 0.2s 0s, translate 0.2s 0.2s;
}
[aria-pressed="true"] rect:nth-of-type(1) {
  translate: 0 333%;
  rotate: -45deg;
}
[aria-pressed="true"] rect:nth-of-type(2) {
  rotate: 45deg;
}
[aria-pressed="true"] rect:nth-of-type(3) {
  translate: 0 -333%;
  rotate: 45deg;
}
[aria-pressed="true"] svg {
  rotate: 90deg;
  transition: rotate 0.3s 0.4s;
}

@supports (--custom: linear()) {
  :root {
    --elastic-out: linear(0, 1);
  }
  [aria-pressed="true"] svg {
    transition-timing-function: var(--elastic-out);
  }
}

.dropdown_container {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  color: var(--light-neutral-700);
  background-color: var(--light-neutral-350);
  border: 2px solid var(--light-neutral-300);
  box-shadow: 5px 10px 5px var(--light-neutral-800);
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0.3s;
}

:global(.dark) .dropdown_menu {
  background-color: var(--dark-neutral-700);
  border: 2px solid var(--dark-primary-500);
  box-shadow: 0 0 3px 3px var(--dark-primary-400), inset 0 0 3px 3px indigo;
  animation: animateGlow 10s ease infinite, textColor 10s ease-in-out infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
    box-shadow: 0 0 3px 3px var(--dark-primary-400);
  }
  50% {
    color: #0fffc1;
    box-shadow: 0 0 3px 3px var(--light-neutral-500);
  }
  100% {
    color: #7e0fff;
    box-shadow: 0 0 3px 3px var(--dark-primary-400);
  }
}
/* :global(.dark) .dropdown_wrapper {
  width: calc(max-content + 3px);
  height: calc(max-content + 3px);
  background: linear-gradient(
    to right,
    var(--dark-primary-500),
    var(--dark-success-500)
  );
  border: 2px solid var(--dark-neutral-300);
} */
.dropdown_wrapper {
  visibility: hidden;
}

@media (hover: hover) {
  .dropdown_container:hover .dropdown_menu.dropdown_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
  }
}

.menu_item {
  padding: 8px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu_item:nth-child(1) {
  transition-delay: 0.2s;
}

.menu_item:nth-child(2) {
  transition-delay: 0.4s;
}

.dropdown_container:hover .menu_item {
  opacity: 1;
  transform: translateY(0);
}
