body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-neutral-100);
}

.dark .app-container {
  background-color: var(--dark-neutral-900);
}

header {
  position: sticky;
  background-color: transparent;
  z-index: 11;
  /* margin-left: 1rem;
  margin-right: 1rem; */
}
main {
  position: relative;
  background-color: transparent;
}
.hero-section {
  position: inherit;
  display: flex;
  justify-content: center;
  z-index: 10;
  padding: 1rem;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}
