body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-neutral-100);
}

.dark .app-container {
  background-color: var(--dark-neutral-900);
}

header {
  position: sticky;
  background-color: transparent;
  z-index: 11;
  width: calc(100% - 1);
}
main {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.hero-section {
  /* border: 2px solid var(--light-danger-400); */

  position: inherit;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 10;
  padding: 1rem;
  width: calc(100% - 1);
  height: calc(100% - 3rem);
}

@media only screen and (max-width: 768px) {
  .hero-section {
    align-items: baseline;
  }
}
