:root {
  /* basic font features */
  font-family: Rubic, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* specific font features */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* mouse
  --mouse-x: 0px;
  --mouse-y: 0px; */

  /* color scheme */
  /* color-scheme: light dark; */

  /* colors */
  --common-white: hsl(0, 0%, 100%);
  --common-black: hsl(0, 0%, 0%);
  --common-gray: hsl(0, 0%, 50%);

  /* light primary */
  --light-primary-50: hsl(305, 73%, 97%);
  --light-primary-100: hsl(305, 100%, 95%);
  --light-primary-200: hsl(305, 100%, 90%);
  --light-primary-300: hsl(305, 100%, 82%);
  --light-primary-400: hsl(305, 100%, 77%);
  --light-primary-500: hsl(305, 100%, 72%);
  --light-primary-600: hsl(305, 71%, 51%);
  --light-primary-700: hsl(305, 78%, 42%);
  --light-primary-800: hsl(305, 74%, 35%);
  --light-primary-900: hsl(305, 69%, 30%);

  /* light neutral */
  --light-neutral-50: hsl(184, 71%, 96%);
  --light-neutral-75: hsl(184, 71%, 96%, 0.5);
  --light-neutral-100: hsl(182, 77%, 92%);
  --light-neutral-200: hsl(183, 77%, 83%);
  --light-neutral-300: hsl(182, 77%, 75%);
  --light-neutral-350: hsl(182, 77%, 75%, 0.5);
  --light-neutral-400: hsl(183, 77%, 66%);
  --light-neutral-450: hsl(183, 77%, 66%, 0.5);
  --light-neutral-500: hsl(184, 80%, 59%);
  --light-neutral-550: hsl(184, 80%, 59%, 0.5);
  --light-neutral-600: hsl(184, 55%, 47%);
  --light-neutral-650: hsl(184, 55%, 47%, 0.5);
  --light-neutral-700: hsl(184, 55%, 35%);
  --light-neutral-800: hsl(185, 54%, 24%);
  --light-neutral-900: hsl(186, 51%, 12%);
  --light-neutral-950: hsl(186, 51%, 12%, 0.9);

  /* light danger */
  --light-danger-50: hsl(345, 92%, 95%);
  --light-danger-100: hsl(344, 92%, 90%);
  --light-danger-200: hsl(344, 92%, 79%);
  --light-danger-300: hsl(344, 92%, 69%);
  --light-danger-400: hsl(344, 93%, 59%);
  --light-danger-450: hsl(344, 93%, 59%, 0.5);
  --light-danger-500: hsl(340, 97%, 48%);
  --light-danger-550: hsl(340, 97%, 48%, 0.5);
  --light-danger-600: hsl(340, 97%, 38%);
  --light-danger-650: hsl(340, 97%, 38%, 0.5);
  --light-danger-700: hsl(341, 96%, 29%);
  --light-danger-800: hsl(340, 96%, 19%);
  --light-danger-900: hsl(341, 96%, 10%);

  /* light success */
  --light-success-50: hsl(120, 100%, 95%);
  --light-success-100: hsl(120, 100%, 90%);
  --light-success-200: hsl(120, 100%, 80%);
  --light-success-300: hsl(120, 100%, 70%);
  --light-success-400: hsl(120, 100%, 60%);
  --light-success-500: hsl(120, 100%, 50%);
  --light-success-600: hsl(120, 100%, 40%);
  --light-success-700: hsl(120, 100%, 30%);
  --light-success-800: hsl(120, 100%, 20%);
  --light-success-900: hsl(120, 100%, 10%);

  /* light warning */
  --light-warning-50: hsl(58, 100%, 95%);
  --light-warning-100: hsl(58, 100%, 90%);
  --light-warning-200: hsl(58, 100%, 80%);
  --light-warning-300: hsl(58, 100%, 70%);
  --light-warning-400: hsl(58, 100%, 60%);
  --light-warning-500: hsl(58, 100%, 50%);
  --light-warning-600: hsl(58, 100%, 40%);
  --light-warning-700: hsl(58, 100%, 30%);
  --light-warning-800: hsl(58, 100%, 20%);
  --light-warning-900: hsl(58, 100%, 10%);

  /* dark primary */
  --dark-primary-50: hsl(250, 100%, 98%);
  --dark-primary-100: hsl(251, 91%, 95%);
  --dark-primary-200: hsl(251, 95%, 92%);
  --dark-primary-300: hsl(252, 95%, 85%);
  --dark-primary-400: hsl(255, 92%, 76%);
  --dark-primary-500: hsl(258, 90%, 66%);
  --dark-primary-550: hsl(258, 90%, 66%, 0.5);
  --dark-primary-600: hsl(262, 83%, 58%);
  --dark-primary-650: hsl(262, 83%, 58%, 0.5);
  --dark-primary-700: hsl(263, 70%, 50%);
  --dark-primary-800: hsl(263, 69%, 42%);
  --dark-primary-900: hsl(264, 67%, 35%);

  /* dark neutral */
  --dark-neutral-50: hsl(210, 40%, 98%);
  --dark-neutral-100: hsl(210, 40%, 96%);
  --dark-neutral-200: hsl(214, 32%, 91%);
  --dark-neutral-300: hsl(213, 27%, 84%);
  --dark-neutral-400: hsl(215, 20%, 65%);
  --dark-neutral-500: hsl(215, 16%, 47%);
  --dark-neutral-600: hsl(215, 19%, 35%);
  --dark-neutral-650: hsl(215, 19%, 35%, 0.5);
  --dark-neutral-700: hsl(215, 25%, 27%);
  --dark-neutral-750: hsl(215, 25%, 27%, 0.5);
  --dark-neutral-800: hsl(217, 33%, 17%);
  --dark-neutral-850: hsl(217, 33%, 17%, 0.5);
  --dark-neutral-900: hsl(222, 47%, 11%);
  --dark-neutral-950: hsl(222, 47%, 11%, 0.5);

  /* dark danger */
  --dark-danger-50: hsl(346, 100%, 95%);
  --dark-danger-100: hsl(346, 100%, 90%);
  --dark-danger-200: hsl(346, 100%, 80%);
  --dark-danger-300: hsl(346, 100%, 70%);
  --dark-danger-400: hsl(346, 100%, 60%);
  --dark-danger-500: hsl(344, 100%, 50%);
  --dark-danger-600: hsl(344, 100%, 40%);
  --dark-danger-700: hsl(344, 100%, 30%);
  --dark-danger-800: hsl(344, 100%, 20%);
  --dark-danger-900: hsl(344, 100%, 10%);

  /* dark success */
  --dark-success-50: hsl(138, 76%, 97%);
  --dark-success-100: hsl(141, 84%, 93%);
  --dark-success-200: hsl(141, 79%, 85%);
  --dark-success-300: hsl(142, 77%, 73%);
  --dark-success-400: hsl(142, 69%, 58%);
  --dark-success-500: hsl(142, 71%, 45%);
  --dark-success-600: hsl(142, 76%, 36%);
  --dark-success-700: hsl(142, 72%, 29%);
  --dark-success-800: hsl(143, 64%, 24%);
  --dark-success-900: hsl(144, 61%, 20%);

  /* dark warning */
  --dark-warning-50: hsl(55, 100%, 95%);
  --dark-warning-100: hsl(54, 100%, 88%);
  --dark-warning-200: hsl(54, 100%, 81%);
  --dark-warning-300: hsl(54, 100%, 73%);
  --dark-warning-400: hsl(54, 100%, 67%);
  --dark-warning-450: hsl(54, 100%, 67%, 0.5);
  --dark-warning-500: hsl(54, 100%, 62%);
  --dark-warning-550: hsl(54, 100%, 62%, 0.5);
  --dark-warning-600: hsl(49, 98%, 60%);
  --dark-warning-650: hsl(49, 98%, 60%, 0.5);
  --dark-warning-700: hsl(43, 96%, 58%);
  --dark-warning-800: hsl(37, 95%, 56%);
  --dark-warning-900: hsl(28, 92%, 53%);
}
